@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  color: #1d3f29;
  overflow-x: hidden;
}

h1 {
  padding-bottom: 0;
  margin: 0;
}

h2 {
  font-size: 35px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 23px;
}

p {
  line-height: 1.4;
  margin-top: 0;
}

hr {
  width: 100%;
  margin: 0;
  height: 1px;
  color: darkslategray;
  background-color: darkslategrey;
  border: none;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #509fa5;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  font-size: 20px;
  letter-spacing: 3px;
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #a5d6cb;
  color: black;
}

.topnav a.active {
  background-color: #1f656b;
  color: white;
}

.experience {
  padding: 20px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.title {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 50px;
  letter-spacing: 0.8em;
  font-weight: 500;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content {
  margin: auto;
  display: inline;
  width: 80vw;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 75px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons {
  padding: 3px 10px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #e1e4e8;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin: 5px;
}

.buttons:hover {
  background-color: #1f656b;
  border: 1px solid #1f656b;
  color: white;
  cursor: pointer;
}

.banner {
  width: 100%;
  padding-bottom: -4px;
  margin-bottom: -4px;
}

.pic {
  padding-right: 10px;
  max-width: 10%;
}

.projectPic {
  max-width: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-size: 16px;
}

.about img {
  margin-right: 25px;
  max-width: 35%;
  border-radius: 15px;
}

.about h1 {
  font-size: 60px;
  margin-top: 10px;
}

#meSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 10px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts a {
  color: #1d3f29;
}

.contact-icon {
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  line-height: 0.04167em;
  vertical-align: -0.125em;
  margin-right: 5px;
}

.resume-button {
  word-wrap: break-word;
  margin-top: 15px;
  padding: 15px 15px;
  max-width: 20%;
  background-color: #509fa5;
  letter-spacing: 3px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  border: 1px solid #073328;
  border-radius: 10px;
}

.topnav-resume {
  margin-top: 0px;
  border: none;
  border-radius: 0px;
  font-weight: normal;
  width: auto;
  background-color: #1f656b;
}

.resume-button:hover {
  background-color: #a5d6cb;
  color: black;
}

#name {
  text-align: center;
  width: 100vw;
  font-size: 50px;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#intro {
  text-align: justify;
  max-width: 50%;
  line-height: 1.6;
}
/*# sourceMappingURL=portfolio.css.map */